.custom-mt {
    margin-top: 12rem;
  }
  .custom-vh-70 {
    height: 50vh;
  }
  @media (max-width: 720px) {
    .custom-vh-70 {
        height: 10vh;
    }
}

  .custom-no-border {
    border: none;
  }
  .footer-mb {
    margin-bottom: 12rem;
  }
  img:hover {-webkit-filter: brightness(50%); }
  
  .card-body:hover h5{
    color: #F55050
  }

  #list-item-1:hover .hover-effect {
    color: #F55050
  }
  button a.text-decoration-none.text-body-secondary:hover{
    cursor: pointer;
    color: #F55050

  }
  .card {
    .row:hover {
      background-color: rgb(232, 210, 166);
      border-radius: 15px;
    }
  }