<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, maxime ad sint enim sit labore veniam! Porro quidem doloribus aspernatur quam voluptas repellendus perspiciatis, modi non nemo, quia praesentium. Dolorem.</p>
</body>
</html>