.icon {
    width: 30px;
    height: 30px;
  }

  .icon-mb {
    margin-bottom: 12rem;
  }
  .name-mt{
    top: 12rem;
  }
  .list-group-item.active {
    color: #F0FFFF;
    background-color:#FF6347;
    border-color: #FF6347;
  }
  .list-group {
    --bs-list-group-border-width: none;
  }

  .about-container:hover #full-name {
    color: #FF6347
  }
  #list-example {
    border-radius: 0px;
  }