#max-height{
    width: 100px;
    // height: ;
}
.custom-mt {
    top: 12rem ;
}

/* App.css or your custom CSS file */
@media (min-width: 768px) {
    .bg-md-transparent {
      background-color: transparent !important;
    }
  }
  
  